*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Ubuntu , sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#1ca08c;
}

.card{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:50px;
  border-radius:20px;
  background:#dcd3d3;
  padding:10px;
  height:350px;
}



img{
  width:120px;
  aspect-ratio:1/1;
}

.thanks-text{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
  font-size:1.2em;
  color:#1a1e23;
}

a{
  color:#1a1e23;
  text-decoration:none;
  background:rgba(78, 216, 78, 0.933);
}